<% title "Edit " + @product.name  %>
<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        Edit
        <%= @product.name %>
      </h4>
      <p class="card-description">
        Use the form below to edit information about the
        <%= @product.name %>
      </p>
      <%= form_for [:admin, @product], class: "forms-sample" do |f| %>
      <%= render "admin/products/partials/form", :f => f %>
      <% end %>
    </div>
  </div>

  <%= render "admin/products/partials/errors" %>
</div>